* {
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1.5;
    min-width: 320px;
    width: 100%;
}

a {
    transition: $trans;
    border-bottom: 1px solid transparent;
    color: $link;
    text-decoration: none;

    &:hover {
        border-color: currentColor; 
    }
}