$trans: all 0.3s ease;

$bg-top-left: #866ed8;
$bg-bottom-right: #2328ae;
$border: #b0b7be;
$border-active: #636f7b;
$border-error: #f5adad;
$main-red: #e63333;
$main-yellow: #ffc739;
$main-brown: #b58200;
$main-blue: $bg-bottom-right;
$link: #685ecb;
$main-text-gray: #808890;
$switch: #5b50c6;
$link: $switch;
$btn-bg: $bg-bottom-right;